/*GENERAL STUFF*/


ul 
{list-style-type: none;
margin: 0;
padding: 0;
display: inline;}

li {text-decoration: none;}

h1 {font-family: skolar-latin, serif;
font-weight: 700;
font-style: normal;
font-size: 32px;
padding-bottom:25px;
text-align: center;}

h2 { 
font-family: skolar-sans-latin, sans-serif;
font-weight: 200;
font-style: normal;
font-size: 18px;
text-align: justify;
text-justify: inter-word;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
width: 45%;
line-height:130%;}

h4 
{font-family: skolar-sans-latin, sans-serif;
font-weight: 400;
font-style: italic;
font-size: 20px;}

p 
{font-family: skolar-sans-latin, sans-serif;
font-weight: 200;
font-style: normal;
font-size: 14px}

.menu 
{float: right;
padding-top: 30px;
padding-right: 45px;
padding-bottom: 30px;
font-family: skolar-sans-latin-extended, sans-serif;
font-weight: 600;
font-style: normal;
letter-spacing: 1px;
font-size: 18px;
font-variant: small-caps;}

.home-button 
{float: left;
padding-left: 45px;}

.topnav 
{background-color: grey;
overflow: hidden;
text-align: right;
padding: 14px, 16px;
text-decoration: none;
font-size: 18px;
display: block;}

.topnav a:hover 
{color: white;}

.page-title 
{margin-top: 150px;
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;}

.footer 
{margin-top: 100px;
margin-bottom: 30px;
font-family: skolar-sans-latin-extended, sans-serif;
font-weight: 600;
font-style: normal;
letter-spacing: 1px;
font-size: 18px;
font-variant: small-caps;}


/*MENTAL PAGE*/

.mental-self-care 
{background-image: linear-gradient( #ffffff, #CAEBFD);}

.brainmaze {width: 600px;
margin-top: 100px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
padding-bottom: 90px;
padding-left: 80px;}

.mental-self-care .topnav 
{background-color: #CAEBFD;
-webkit-box-shadow: inset 0px -41px 42px -23px rgba(88,182,240,0.44);
-moz-box-shadow: inset 0px -41px 42px -23px rgba(88,182,240,0.44);
box-shadow: inset 0px -41px 42px -23px rgba(88,182,240,0.44);}

.mental-self-care .subhead {
font-family: skolar-sans-latin, sans-serif;
font-weight: 400;
font-style: italic;
margin-top: 20px;
margin-left: 30%;
margin-bottom: 20px;
font-size: 22px;
letter-spacing: .75px;}

.mental-self-care .body-text 
{font-family: skolar-sans-latin, sans-serif;
font-weight: 200;
font-style: normal;
font-size: 14px
margin-top: 20px;
margin-left: 30%;
width: 38%;
padding-left: 25px;
padding-bottom: 20px;
line-height: 130%;}

.mental-self-care .footer 
{text-align: center;
color: #42B5E8;
padding-right: 10px;} 

/*BEAUTY PAGE*/

.beauty-page .page-title 
{width: 300px;
margin-bottom: 130px;}

.beauty-page 
{background-image: linear-gradient( #ffffff, #FFC2FB);}

.beauty-page .topnav 
{background-color: #FFA8FD; 
-webkit-box-shadow: inset 0px -21px 38px -16px rgba(255,127,255,1);
-moz-box-shadow: inset 0px -21px 38px -16px rgba(255,127,255,1);
box-shadow: inset 0px -21px 38px -16px rgba(255,127,255,1);}

.beauty-page .footer 
{text-align: center;
color: #ff47ff;
padding-right: 10px;}

.grid3
{display: grid;
grid-template-columns: 1fr 1fr 1fr;
width: 60%;
grid-column-gap: 50px;
padding-left: 18%;
padding-right: auto;
align-content: center;}

.beauty-page .title
{font-family: skolar-latin, serif;
font-weight: 700;
font-style: normal;
font-size: 32px;
margin-bottom:5px;
text-align: center;
width: 100%;
line-height:120%}

.beauty-page .subhead
{width: 100%;
font-size: 14px;}

.grid3 .subs
{width: 100%;
justify-content: center;
margin-left: -200px;}

.beauty-page h2 {width: 40%;
text-justify: left;}

.beauty-page .subhead
{font-family: skolar-sans-latin, sans-serif;
font-weight: 400;
font-style: italic;
margin-top: 20px;
margin-left: 0%;
margin-bottom: 20px;
font-size: 22px;
letter-spacing: .75px;}

.beauty-page .body-text
{font-family: skolar-sans-latin, sans-serif;
font-weight: 200;
font-style: normal;
font-size: 14px
margin-top: 20px;
margin-left: 30%;
width: 38%;
padding-left: 25px;
padding-bottom: 20px;
line-height: 130%;
vertical-align: center;}

p .para .grid3
{width: 100%;}

.links
{margin-left: 40px;
grid-gap: 80px;}

.beautyproducts 
{width: 220px;
position: center;
padding: 50px;}

.bath-bomb 
{margin-top: 135px;}

.hair-mask
{margin-top: 135px;}

/*PHYSICAL PAGE*/

.physical-page .page-title
{width: 700px;
margin-bottom: 130px;}

.physical-page
{background-image: linear-gradient( #FCFFF5, #E0FFA1);}

.physical-page .topnav
{background-color: #d5f585;
-webkit-box-shadow: inset 0px -38px 31px -12px rgba(197,250,63,1);
-moz-box-shadow: inset 0px -38px 31px -12px rgba(197,250,63,1);
box-shadow: inset 0px -38px 31px -12px rgba(197,250,63,1);}

.grid2
{display: grid;
grid-template-columns: 1fr 2fr;
grid-gap: 30px;}

.physical-page .footer
{text-align: center;
color: #6DC42A;
padding-right: 10px;}

.apps {width: 200px;}